.post{
  background-color: $primary;
  padding: 2.5rem;
  margin-bottom: 3rem;
  border-radius: 5px;
  overflow: hidden;
}

.post__header{
  margin: -2.5rem -2.5rem 2.5rem;

  &--video{
    margin: 0 0 2.5rem;
  }
}

.post__header-img{
  display: block;
  max-width: 100%;
  height: auto;
}

.post__title{
  margin-bottom: 1.5rem;

  font-size: 1.8rem;
  color: $white;
  font-weight: 500;

  a{
    color: inherit;
    text-decoration: none;

    &:hover{
      text-decoration: underline;
    }
  }
}

.post__text{
  font-size: 1.4rem;
  color: #D2D2D2;
}

.post__footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post__content{
  margin-bottom: 2rem;
}

.post__data{
  display: flex;

  color: #828282;
  line-height: 1.2;

  .post__data-link{
    color: inherit;
    text-decoration: none;

    &:hover{
      text-decoration: underline;
    }
  }
}

.post__data-item{

  &:not(:last-child)::after{
    position: relative;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 1.5rem;
    top: -2px;

    border-radius: 50%;
    background-color: #C4C4C4;
  }
}

.post__link{
  color: $blue;
  font-size: 1.4rem;
  text-decoration: none;

  &:hover{
    text-decoration: underline;
  }
}